@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Zen+Maru+Gothic&display=swap');
@import url("https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css");
/* 
水色：#93D6E7
黄色：#FFCC70
オレンジ：#ED5F32
濃い水色：#31A9C8
*/

html {
    font-family: 'Maven Pro', 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    border-radius: 0 0 16px 16px;
    border: 2px solid #000;
    border-top: none;
    background-color: #93D6E7;
}
.header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.header-center{
    font-size: 1.2rem;
}
.header-left{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    width: 48px;
    height: 100%;
    & img{
        width: 24px;
        height: auto;
    }
}
.tabbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    border-top: 2px solid #000;
    background-color: #93D6E7;
}

.tabbar-containar{
    width: 100%;
    height: 100%;
    display: flex;
}
.tabbar-item{
    height: 100%;
    display: grid;
    place-content: center;
    flex-grow: 1;

    & img{
        height: 32px;
        width: auto;
    }
}