@charset "UTF-8";
.main{
    width: 85vw;
    min-height: 100vh;
    padding: 48px 0 56px;
    margin: 0 auto;
}

.workbook-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    padding: 24px;
    margin: 0 auto;
    margin-top: 32px;
    border: 2px solid #000;
    border-radius: 16px;
}
.workbook-title{
    border-bottom: 1px solid #000;

    & span{
        font-size: 1.4rem;
        padding-left: 8px;
    }
}
.workbook-info{
    padding: 0 8px;
    & li{
        line-height: 2;
    }
}

.start-button{
    display: grid;
    place-content: center;
    width: 80%;
    max-width: 320px;
    height: 40px;
    margin: 0 auto;
    background-color: #FFCC70;
    border: 2px solid #000;
    border-radius: 100px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
    transition: .1s transform ease;
}
.start-button:active{
    transform: translateY(2px);
    box-shadow: none;
}